/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

/* [ADDED] GENERAL */
.hidden{
  visibility:none;
}

html {
  font-size: 85%;
}

/*
 * Body
 */

body {
  margin: 0em;
  padding: 0em;
  background-color: #eaf0f1;
}

/* Common elements */
h1,
h2,
h3,
h4,
h5, 
h6,
a {
  color: #326e76;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

a:visited {
  color:  #98b6ba;
}

ul {
  list-style-type: square;
}

ul>li {
  color: #326e76;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;
}
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}


/*
 * Header
 */

#header {
  overflow: hidden;
  background-image: url(../images/fondo.jpg);
  box-shadow: 1px 1px 3px #6B6B6B;
  margin-top: 3em;
  background-repeat: no-repeat;
  background-position: right;
  background-color: white;
}

/* [ADDED] Cabecera */
#logo-and-name{
  float:left;
  padding: 0.5em;
  text-shadow: 1px 1px #000000;
  margin-top: 2.2em;
}

#logo { /* Wrapping link for logo */
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}
#logo img {
  vertical-align: bottom;
  width: 75px;
}

#name-and-slogan { /* Wrapper for website name and slogan */
  float: left;
}

#site-name { /* The name of the website */
  margin-left: 10px;
  position: relative;
  top: 3.3em;
  font-size: 1.7em;
}
#site-name a:link,
#site-name a:visited {
  color: rgb(50,110,118);
  text-decoration: none;
}
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin-left: 5px;
  font-size: 1.5em;
  
}

.region-header { /* Wrapper for any blocks placed in the header region */
  /*clear: both;*/ /* Clear the logo */
}


/* [ADDED] NAVIGATION */ /*TRANS*/
#navigation{
  padding:0px;
  background-color:#326e76;
  box-shadow: 1px 1px 3px #6B6B6B;
  margin-top: 0.5em;
  position: relative;
  z-index: 5;
}

/*
 * Main (container for everything else)
 */

#main {
  background-color: #ffffff;
  box-shadow: 1px 1px 3px #6B6B6B;
}

/*[ADDED] inner columns */
#content-columns{
  overflow: hidden;
  display:block;
  border-bottom: 2px solid #326e76;
}

/*[ADDED] inner-content*/
#inner-content{
  padding: 20px;
}

/*
 * content bar a
 */
#cbar_a {
  float:left;
  border-right: 2px solid #326e76;
  overflow: auto;
}

/*
 * content bar b
 */
#cbar_b{
  float:left;
  overflow: auto;
}

/* [ADDED] SIDEBAR */
.sidebar-second .region-sidebar-second{
  padding:10px;
  border-left: 2px solid #326e76 !important;
}

.region-sidebar-second .block {
  border-bottom: 1px solid #326e76;
}

.region-sidebar-second .block.last {
  border-bottom: none;
}

/*
 * Content 
 */

#content {
}

.region-highlighted { 
margin-left: -10px;
}

.breadcrumb { /* The path to the current page in the form of a list of links */
  margin-top:10px;
}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0.2em 0 0.2em 0;
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0; /* LTR */
}

span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
.item-list .pager li { /* Each page number in the pager list */
  padding: 0 0.5em;
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}

/*
 * Footer
 */

#footer-wrapper {
  width:100%;
  background-color:#326e76;
  box-shadow: 1px 1px 3px #6B6B6B;
  padding: 10px 0px;
  color: white;
  overflow:auto;  
  position: relative;
  z-index: 1;
}

#footer-wrapper .block{
  margin-bottom:0px;
}

#footer{
  /*width:800px;*/
}

#footer-wrapper .menu {
  margin:0em;
  padding:0em;   
}

#footer-wrapper .menu li{
  display: inline;
  list-style-type: none;
}

#udc-logo {
  float: right;
  margin: 1em;
}

#log-in{
  float:left;
  padding:0em 0.5em 0em 0.5em;
}

/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
  box-shadow: 1px 1px 3px #6B6B6B;
}

#footer-info {
  width:100%;
  background-color:#ffffff;
  margin-top:0;
  box-shadow: 1px 1px 3px #6B6B6B;
  display: block;
  float: left;
  list-style: none;
}

#footer-info .left {
  padding-left: 1em;
  display: inline-block;
}

#footer-info .right {
  padding-right: 1em;
  float: right;
}

#footer-info .footer-links {
  text-align: right; 
  padding-right:1em;
  font-size:60%;
  list-style: none;
}

#footer-info .info {
  margin:0.5em 0 0.5em 0;
}
