<h1>ERROR</h1>

<p>Error al procesar su peticion:</p>
        <b><i><?php echo $errormessage; 
        ?></i></b>
<br>
<p>Para volver al formulario de autenticacion pinche <a href="/users/login">en este enlace</a></p>

