<div class="actions columns large-2 medium-3">
    <h3><?= __('Actions') ?></h3>
    <ul class="side-nav">
        <li><?= $this->Html->link(__('Edit Year'), ['action' => 'edit', $year->id]) ?> </li>
        <li><?= $this->Form->postLink(__('Delete Year'), ['action' => 'delete', $year->id], ['confirm' => __('Are you sure you want to delete # {0}?', $year->id)]) ?> </li>
        <li><?= $this->Html->link(__('List Years'), ['action' => 'index']) ?> </li>
        <li><?= $this->Html->link(__('New Year'), ['action' => 'add']) ?> </li>
    </ul>
</div>
<div class="years view large-10 medium-9 columns">
    <h2><?= h($year->name) ?></h2>
    <div class="row">
        <div class="large-5 columns strings">
            <h6 class="subheader"><?= __('Name') ?></h6>
            <p><?= h($year->name) ?></p>
        </div>
        <div class="large-2 columns numbers end">
            <h6 class="subheader"><?= __('Id') ?></h6>
            <p><?= $this->Number->format($year->id) ?></p>
        </div>
        <div class="large-2 columns booleans end">
            <h6 class="subheader"><?= __('Active') ?></h6>
            <p><?= $year->active ? __('Yes') : __('No'); ?></p>
        </div>
    </div>
</div>
